body{
    margin: 0;
    background-color: rgb(215, 248, 237);
}
.main-game{
    /* tamanho visivel da tela no navegador*/    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius{
    /*
    * utilizando o grid para separar as partes que serão usadas;
    * usando o grid-template-areas dando nome para cada um dos conteiners dele;
    * usando o grid gap para separar um conteiner do outro;
    */
    display: grid;
    grid-template-areas: 'verde vermelho' 
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 600px;
    height: 600px;

}

/*
* Definir o espaço que a cor ira ocupar;
*/

.green{
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.red{
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;

}

.blue{
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.selected{
    opacity: 0.6;
}